
<h1><%= @customer.name %></h1>
<hr>
<div class="pull-right"><%= link_to 'Delete', customer_path(@customer.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></div>
<p>Reference: <%= @customer.reference %></p>
<p>Tax id: <%= @customer.taxid %></p>
<p>Status: <%= @customer.status %></p>

<h2>Address</h2>
<p>Street: <%= @customer.address_street %></p>
<p>Postal code: <%= @customer.address_postalcode %></p>
<p>City: <%= @customer.address_city %></p>
<p>State: <%= @customer.address_state %></p>
<p>Country: <%= @customer.address_country %></p>

<h2>Contact person</h2>
<p>Name: <%= @customer.contact_name %></p>
<p>Email: <%= @customer.contact_email %></p>
<p>Phone: <%= @customer.contact_phone %></p>

<h2>Bank Accounts</h2>
<table class="table" data-qa="customer__bank_accounts">
  <thead>
    <tr>
      <th>Bank</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr data-qa="customer__bank_account">
        <td><%= account[:iban] %></td>
        <td><%= account[:status] %></td>
        <td><%= link_to 'Replace', edit_customer_bank_account_path(@customer.id, account.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Create account', new_customer_bank_account_path(@customer.id), class: "btn btn-primary" %>

<%= link_to 'Edit', edit_customer_path(@customer.id), class: "btn btn-primary" %>
<%= link_to 'Back', customers_path, class: "btn btn-lnk" %>
