<!DOCTYPE html>
<html>
<head>
  <title>BeSEPA ♥ alberto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,100,500' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a href="/">
          <%= image_tag("logo.png") %>
        </a>
      </div>
    </div>
  </nav>
<div class="main-content container mb">

  <% if flash[:alert] %>
    <div class="alert alert-danger" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= flash[:alert] %>
    </div>
  <% end %>

  <% if notice %>
    <div class="alert alert-success" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= notice %>
    </div>
  <% end %>

  <%= yield %>
</div>
<footer class="footer">
  <div class="container">
    <strong>Made with ♥ by alberto</strong>
  </div>
</footer>
</body>
</html>
